body, ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration-line: none;
    color: white;
}

#navbar {
    position: fixed; 
    left: 50%; transform: translate(-50%, 0);
    margin-top: 20px;
    z-index: 1;
    /* 네비바 숨기기 효과 */
    transition: top 0.5s;
}

nav > ul {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    padding-left: 0;
}

nav ul li {
    margin: 20px;
    list-style-type: none;
}

body {
    background-color: #111;
    color: white;
}

html, body {
    height: 100%;
    margin: 0;
}

.mapPage {
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

#worldmap {
    width: 80vw;
    margin-top: 3%;
}

/* 새로운 시도  */
.textSection {
    padding: 50px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60%;
}

h3 {
    font-size: 100px;
    text-align: center;
}

p {
    font-size: 30px;
}

#traderTextSection {
    flex-direction: column;
}

#traderTextSectionWrapper {
    margin-left: 0;
    width: 100%;
    padding: 10%;
    padding-top: 80px;
}

#traderText {
    margin: 0;
}

#p2020 {
    text-indent: 170px;
}

.mapPage, .morocco, .southAfrica, .ghana, .mauritius, .egypt, .sriLanka, .poland, .thailand {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(42, 139, 192);
    background-size: cover;
    min-height: 60%;    
    background-attachment: fixed;
}

.morocco {
    background-image:url("../img/trader/morocco.jpeg");
}

.southAfrica {
    background-image:url("../img/trader/sa.jpeg");
}

.ghana {
    background-image:url("../img/trader/ghana.jpeg");
}

.mauritius {
    background-image:url("../img/trader/mauritius.jpeg");
}

.egypt {
    background-image:url("../img/trader/egypt.webp");
}

.sriLanka {
    background-image:url("../img/trader/sri.jpeg");
}

.poland {
    background-image:url("../img/trader/poland.jpeg");
}

.thailand {
    background-image:url("../img/trader/thai.jpeg");
}